html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

button {
<<<<<<< HEAD
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
=======
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
>>>>>>> 14b3e7d15d667908c8ec87e78aa8a1d835bcadcb
}
