<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>Taller Web I</title>
  <link rel="stylesheet" th:href="@{/css/reset.css}" />
  <link rel="stylesheet" th:href="@{/css/index.css}" />
  <link rel="stylesheet" th:href="@{/css/header.css}" />
  <link rel="stylesheet" th:href="@{/css/contPlatos.css}" />
  <link rel="stylesheet" th:href="@{/css/contRestaurants.css}" />
  <link rel="stylesheet" th:href="@{/css/buscador.css}" />
  <link rel="stylesheet" th:href="@{/css/login.css}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    .card img {
    width: 358px !important;
    height: 300px !important;
    }
  </style>
</head>

<body>
<header>
  <h2 class="header-titulo mb-0">TuResto</h2>
  <button class="btn btn-dark" style="font-size: 16px; font-weight: 600;">Ingresar</button>
</header>
<main>
  <div class="contPlatos">
    <div class="contPlato">
      <img
              class="contPlato-img"
              th:src="@{/img/platos/pizza.jpeg}"
              alt="pizza"
      />
      <h2 class="contPlato-txt mb-0">Pizzas</h2>
    </div>
    <div class="contPlato">
      <img
              class="contPlato-img"
              th:src="@{/img/platos/empanadas.webp}"
              alt="empanadas"
      />
      <h2 class="contPlato-txt mb-0">Empanadas</h2>
    </div>
    <div class="contPlato">
      <img
              class="contPlato-img"
              th:src="@{/img/platos/pastas.jpeg}"
              alt="pastas"
      />
      <h2 class="contPlato-txt mb-0">Pastas</h2>
    </div>
    <div class="contPlato">
      <img
              class="contPlato-img"
              th:src="@{/img/platos/ensaladas.jpg}"
              alt="ensaladas"
      />
      <h2 class="contPlato-txt mb-0">Ensaladas</h2>
    </div>
    <div class="contPlato">
      <img
              class="contPlato-img"
              th:src="@{/img/platos/helados.jpg}"
              alt="helados"
      />
      <h2 class="contPlato-txt mb-0">Helados</h2>
    </div>
  </div>
  <div class="container">
    <form action="#" class="buscador-formBusqueda w-100 mb-4" style="padding: 0 45px">
      <div class="input-group" style="flex-wrap: nowrap;">
        <input
                type="text"
                class="form-control w-100"
                name="busqueda"
                id="busqueda"
                placeholder="La Farola, Benjamín, etc..."
                autocomplete="off"
        />
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>
  </div>
  <div class="container d-flex align-items-center justify-content-center flex-wrap" style="gap: 3em;">
    <div class="card" style="width: 18rem;">
      <img
              th:src="@{/img/restaurant/restaurant.jpg}"
              alt="Restaurante"
              title="Restaurante"
              class="card-image-top"
      />
      <div class="card-body">
        <h2 style="font-size: 1.5em;">La Terraza del Mar</h2>
        <p class="fw-light">
          Un restaurante costero especializado en mariscos frescos, variedad de pescados y la mejor cocina
          mediterránea.
        </p>
        <div class="d-flex align-items-center justify-content-between">
          <p class="contRestaurant-estrellas mb-0">5 <i class="fas fa-star" style="color: #ffc107;"></i></p>
          <button class="contRestaurant-btnReservar">Reservar</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
              th:src="@{/img/restaurant/restaurant1.jpg}"
              alt="Restaurante"
              title="Restaurante"
              class="card-img-top"
      />
      <div class="card-body">
        <h2 style="font-size: 1.5em;">El Jardín Secreto</h2>
        <p class="fw-light">
          Un restaurante boutique escondido en un exuberante jardín, famoso
          por su cocina de autor y ambiente encantador.
        </p>
        <div class="d-flex align-items-center justify-content-between">
          <p class="contRestaurant-estrellas mb-0">4.5 <i class="fas fa-star" style="color: #ffc107;"></i></p>
          <button class="contRestaurant-btnReservar">Reservar</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
              th:src="@{/img/restaurant/restaurant2.jpg}"
              alt=""
              class="card-img-top"
      />
      <div class="card-body">
        <h2 style="font-size: 1.5em;">La Cava del Vino</h2>
        <p class="fw-light">
          Un acogedor restaurante de estilo bistró conocido por su extensa
          selección de vinos y su cocina de temporada con influencia
          francesa.
        </p>
        <div class="d-flex align-items-center justify-content-between">
          <p class="contRestaurant-estrellas mb-0">4.8 <i class="fas fa-star" style="color: #ffc107;"></i></p>
          <button class="contRestaurant-btnReservar">Reservar</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
              th:src="@{/img/restaurant/restaurant3.jpg}"
              alt=""
              class="card-img-top"
      />
      <div class="card-body">
        <h2 style="font-size: 1.5em;">Sabor Tradicional</h2>
        <p class="fw-light">
          Un auténtico y lujoso restaurante familiar que sirve platos caseros de la
          cocina regional, donde cada bocado evoca y remueve los recuerdos del hogar.
        </p>
        <div class="d-flex align-items-center justify-content-between">
          <p class="contRestaurant-estrellas mb-0">4.7 <i class="fas fa-star" style="color: #ffc107;"></i></p>
          <button class="contRestaurant-btnReservar">Reservar</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
              th:src="@{/img/restaurant/restaurant4.jpg}"
              alt=""
              class="card-img-top"
      />
      <div class="card-body">
        <h2 style="font-size: 1.5em;">El Rincón Oriental</h2>
        <p class="fw-light">
          Un lugar acogedor que ofrece auténticos sabores de Asia, desde
          sushi fresco hasta platos de curry fragantes, en un ambiente
          moderno y elegante.
        </p>
        <div class="d-flex align-items-center justify-content-between">
          <p class="contRestaurant-estrellas mb-0">4.6 <i class="fas fa-star" style="color: #ffc107;"></i></p>
          <button class="contRestaurant-btnReservar">Reservar</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
              th:src="@{/img/restaurant/restaurant5.jpg}"
              alt=""
              class="card-img-top"
      />
      <div class="card-body">
        <h2 style="font-size: 1.5em;">Brasa y Sazón</h2>
        <p class="fw-light">
          Un asador rústico que combina la técnica de la parrilla con
          sabores latinoamericanos audaces, creando platos llenos de sabor, recuerdos y
          carácter.
        </p>
        <div class="d-flex align-items-center justify-content-between">
          <p class="contRestaurant-estrellas mb-0">4.9 <i class="fas fa-star" style="color: #ffc107;"></i></p>
          <button class="contRestaurant-btnReservar">Reservar</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
              th:src="@{/img/restaurant/restaurant6.jpg}"
              alt=""
              class="card-img-top"
      />
      <div class="card-body">
        <h2 style="font-size: 1.5em;">Gastronomía del Mundo</h2>
        <p class="fw-light">
          Un buffet internacional que ofrece una amplia gama de platos de
          todo el mundo, desde la cocina italiana hasta la tailandesa, todo
          en un solo lugar.
        </p>
        <div class="d-flex align-items-center justify-content-between">
          <p class="contRestaurant-estrellas mb-0">4.8 <i class="fas fa-star" style="color: #ffc107;"></i></p>
          <button class="contRestaurant-btnReservar">Reservar</button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
              th:src="@{/img/restaurant/restaurant7.jpg}"
              alt=""
              class="card-img-top"
      />
      <div class="card-body">
        <h2 style="font-size: 1.5em;">La Taberna del Viejo Mundo</h2>
        <p class="fw-light">
          Un encantador restaurante que evoca la atmósfera de una taberna
          europea tradicional, sirviendo platos clásicos y cervezas
          artesanales en un ambiente acogedor y animado.
        </p>
        <div class="d-flex align-items-center justify-content-between">
          <p class="contRestaurant-estrellas mb-0">4.7 <i class="fas fa-star" style="color: #ffc107;"></i></p>
          <button class="contRestaurant-btnReservar">Reservar</button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img
              th:src="@{/img/restaurant/restaurant8.jpg}"
              alt=""
              class="card-img-top"
      />
      <div class="card-body">
        <h2 style="font-size: 1.5em;">Sabores del Mediterráneo</h2>
        <p class="fw-light">
          Un encantador restaurante que ofrece una fusión de sabores
          mediterráneos, con platos frescos y deliciosos inspirados en la
          costa y el campo.
        </p>
        <div class="d-flex align-items-center justify-content-between">
          <p class="contRestaurant-estrellas mb-0">4.6 <i class="fas fa-star" style="color: #ffc107;"></i></p>
          <button class="contRestaurant-btnReservar">Reservar</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="p-3 mt-5 d-flex align-items-center justify-content-between bg-dark text-white">
    <p class="mb-0">Genesis</p>
    <p class="mb-0">Mateo</p>
    <p class="mb-0">Axel</p>
    <p class="mb-0">Ivan</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</main>
</body>
</html>