<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Taller Web I</title>
  <link rel="stylesheet" th:href="@{/css/header.css}" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <style>
        body {
            background-image: url('img/kitchen-background.jpg'); /* Ajusta esta ruta */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<header>
  <a class="header-titulo mb-0" style="text-decoration: none; color: black;" th:href="@{/home}">TuResto</a>
</header>
<main role="main" class="container">
  <div class="container" style="margin-top: 7em;">
    <div id="loginbox" style="margin-top: 50px;" class="mainbox col-md-6 mx-auto bg-white shadow rounded p-4">
      <form action="#" th:action="@{/register}" method="POST" th:object="${usuario}">
        <h3 class="text-center mb-4">Nuevo Usuario</h3>
        <hr class="my-4">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input th:field="*{email}" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input th:field="*{password}" type="password" id="password" class="form-control" required>
        </div>
        <button id="btn-registrarme" class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>
        <p th:if="${error != null}" class="alert alert-danger mt-3" th:text="'Error ' + ${error}"></p>
      </form>
      <div class="d-flex align-items-start mt-3" style="flex-direction: column;">
        <p>¿Ya tienes una cuenta?</p>
        <p class="mb-0">
          <a id="ir-a-registrarme" th:href="@{/login}">Iniciá sesión</a>
        </p>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
