<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Restaurante</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/contPlatos.css}" />
    <link rel="stylesheet" th:href="@{/css/contRestaurants.css}" />
    <link rel="stylesheet" th:href="@{/css/buscador.css}" />
    <!-- <link rel="stylesheet" th:href="@{/css/login.css}" /> -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
</head>
<body>
<header class="mb-3">
    <a class="header-titulo mb-0" style="text-decoration: none; color: black;" th:href="@{/home}">TuResto</a>
<!--     <button class="btn btn-dark" style="font-size: 16px; font-weight: 600"> -->
<!--         Ingresar -->
<!--     </button> -->
</header>
<main>
    <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:src="@{/img/restaurant/restaurant.jpg}" class="img-fluid rounded-start" alt="prueba" title="prueba">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${restaurante.nombre}"></h5>
                        <p class="card-text" th:text="${restaurante.direccion}"></p>
                        <p class="card-text"><small class="text-body-secondary" th:text="${restaurante.estrellas}"></small> <i class="fas fa-star" style="color: #ffc107"></i></p>
                        <p class="card-text" th:text="'Hay ' + ${restaurante.espacioDisponible} + ' espacios disponibles'"></p>
                        <form action="#" th:action="@{/reservar}" th:method="POST" method="POST" id="form_reserva">
                            <input type="hidden" id="id_form" name="id_form" th:value="${restaurante.id}">
                            <label for="nombre_form">Nombre</label>
                            <input type="text" id="nombre_form" name="nombre_form">

                            <label for="email_form">Correo electronico</label>
                            <input type="email" id="email_form" name="email_form">

                            <label for="num_form">Telefono</label>
                            <input type="number" id="num_form" name="num_form">

                            <label for="dni_form">Documento</label>
                            <input type="number" id="dni_form" name="dni_form">

                            <label for="fecha_form">Fecha</label>
                            <input type="date" id="fecha_form" name="fecha_form">

                            <label for="cant_personas_form">Cantidad de personas</label>
                            <select id="cant_personas_form" name="cant_personas_form">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>

                            <button type="submit" class="btn btn-warning">Reservar</button>
                        </form>
                        <p
                                th:if="${errorForm != null}"
                                class="alert alert-danger"
                                th:text="${errorForm}">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form action="#" th:action="@{/restaurante/filtrarPlato}" id="form_plato" th:method="POST" method="POST">

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar platos por precio
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" style="cursor: pointer;" th:onclick="|seleccionarOpcion('15000')|">Mayor a $10.000</li>
                    <li class="dropdown-item" style="cursor: pointer;" th:onclick="|seleccionarOpcion('20000')|">Mayor a $20.000</li>
                    <li class="dropdown-item" style="cursor: pointer;" th:onclick="|seleccionarOpcion('30000')|">Mayor a $30.000</li>
                    <li class="dropdown-item" style="cursor: pointer;" th:onclick="|seleccionarOpcion('50000')|">Mayor a $50.000</li>
                </ul>
            </div>
            <input id="precioPlato" type="hidden" name="precioPlato" value="">
            <input id="idRestaurante" type="hidden" name="idRestaurante" th:value="${restaurante.id}">
        </form>
        <p
                th:if="${errorFiltroPlato != null}"
                class="alert alert-danger"
                th:text="${errorFiltroPlato}"
        ></p>
        <p
                th:if="${error != null}"
                class="alert alert-danger mt-3"
                th:text="${error}"
        ></p>
    </div>
    <div
            class="container d-flex align-items-center justify-content-center flex-wrap mt-3"
            style="gap: 3em"
    >
        <div
                class="card"
                style="width: 18rem"
        >
            <img
                    th:src="@{/img/platos/empanadas.webp}"
                    alt="Plato"
                    title="Plato"
                    class="card-image-top"
            />
            <div class="card-body">
                <h2 style="font-size: 1.5em">Empanadas</h2>
                <p class="fw-light">Rellenas de muchisimo amor</p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center" style="gap: 0.5em">
                        <span>$</span>
                        <p
                                class="mb-0"
                        >15000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
            class="container d-flex align-items-center justify-content-center flex-wrap mt-3"
            style="gap: 3em"
    >
        <div
                th:each="plato : ${platos}"
                class="card"
                style="width: 18rem"
        >
            <img
                    th:src="@{/img/platos/__${plato.imagen}__}"
                    alt="Plato"
                    title="Plato"
                    class="card-image-top"
            />
            <div class="card-body">
                <h2 style="font-size: 1.5em" th:text="${plato.nombre}"></h2>
                <p class="fw-light" th:text="${plato.descripcion}"></p>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center" style="gap: 0.5em">
                        <span>$</span>
                        <p
                                class="mb-0"
                                th:text="${plato.precio}"
                        ></p>
                    </div>
                    <p
                            th:if="${error != null}"
                            class="alert alert-danger"
                            th:text="${error}"
                    ></p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer
        class="p-3 mt-5 d-flex align-items-center justify-content-between bg-dark text-white"
>
    <p class="mb-0">Genesis</p>
    <p class="mb-0">Mateo</p>
    <p class="mb-0">Axel</p>
    <p class="mb-0">Ivan</p>
</footer>
<script>
    function seleccionarOpcion(precio) {

        document.getElementById('precioPlato').value = precio;
        document.getElementById('form_plato').submit();
    }

    function logFormData() {
        var id = document.getElementById("id_form").value;
        var nombre = document.getElementById("nombre_form").value;
        var email = document.getElementById("email_form").value;
        var telefono = document.getElementById("num_form").value;
        var documento = document.getElementById("dni_form").value;
        var fecha = document.getElementById("fecha_form").value;
        var cantPersonas = document.getElementById("cant_personas_form").value;

        console.log("ID: " + id);
        console.log("Nombre: " + nombre);
        console.log("Correo electrónico: " + email);
        console.log("Teléfono: " + telefono);
        console.log("Documento: " + documento);
        console.log("Fecha: " + fecha);
        console.log("Cantidad de personas: " + cantPersonas);

    }
</script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
></script>
</body>
</html>